/* line 18, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 24, ../sass/screen.scss */
body {
  font-family: 'Proza Libre', sans-serif;
  font-size: 0.9em;
}

/* line 46, ../sass/screen.scss */
.menu {
  background-color: #9C9583;
  color: white;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-bottom: 30px;
}

/* line 53, ../sass/screen.scss */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* line 59, ../sass/screen.scss */
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 65, ../sass/screen.scss */
.generic-button {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: none;
  font-size: 0.8em;
  background-color: white;
  color: #9C9583;
}
/* line 41, ../sass/screen.scss */
.generic-button:hover {
  cursor: pointer;
}

/* line 71, ../sass/screen.scss */
.start {
  background-color: #9C9583;
  color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 25px;
  width: 100%;
  max-width: 1000px;
}

/* line 80, ../sass/screen.scss */
.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 87, ../sass/screen.scss */
.login-form p {
  margin: 10px 0 5px 0;
}
/* line 90, ../sass/screen.scss */
.login-form input {
  width: 300px;
  height: 30px;
  font-size: 0.9em;
  padding-left: 5px;
}
/* line 96, ../sass/screen.scss */
.login-form button {
  margin: 20px 0 10px 0;
}

/* line 87, ../sass/screen.scss */
.register-form p {
  margin: 10px 0 5px 0;
}
/* line 90, ../sass/screen.scss */
.register-form input {
  width: 300px;
  height: 30px;
  font-size: 0.9em;
  padding-left: 5px;
}
/* line 96, ../sass/screen.scss */
.register-form button {
  margin: 20px 0 10px 0;
}

/* line 110, ../sass/screen.scss */
.update-form input {
  width: 220px;
  height: 25px;
  font-size: 0.8em;
  padding-left: 5px;
}
/* line 116, ../sass/screen.scss */
.update-form button {
  margin-top: 10px;
}

/* line 121, ../sass/screen.scss */
.states-list {
  width: 300px;
  height: 30px;
  font-size: 0.9em;
}

/* line 127, ../sass/screen.scss */
.error-message {
  color: #AE3C3C;
  background-color: #FFACAC;
  padding: 5px;
  width: 300px;
  border-radius: 3px;
  margin-bottom: 10px;
}

/* line 136, ../sass/screen.scss */
.success-message {
  border-radius: 3px;
  margin-bottom: 10px;
  color: #0B6E4F;
  background-color: #BCD7CF;
  padding: 5px;
  width: 600px;
}

/* line 145, ../sass/screen.scss */
.info-header {
  margin-top: 15px;
}

/* line 87, ../sass/screen.scss */
#add-book-form p {
  margin: 10px 0 5px 0;
}
/* line 90, ../sass/screen.scss */
#add-book-form input {
  width: 300px;
  height: 30px;
  font-size: 0.9em;
  padding-left: 5px;
}
/* line 96, ../sass/screen.scss */
#add-book-form button {
  margin: 20px 0 10px 0;
}

/* line 153, ../sass/screen.scss */
#search-results {
  position: fixed;
  top: 20px;
  left: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  background-color: black;
  color: white;
  opacity: 0.9;
  display: none;
  overflow-y: auto;
}

/* line 166, ../sass/screen.scss */
.result {
  margin: 40px;
}

/* line 170, ../sass/screen.scss */
.other-information {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* line 176, ../sass/screen.scss */
.result-image {
  width: 128px;
}

/* line 180, ../sass/screen.scss */
.info-wrapper {
  margin-left: 10px;
  width: calc(100% - 138px);
}

/* line 185, ../sass/screen.scss */
.add-this-book {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: none;
  font-size: 0.8em;
  background-color: #0F7173;
  color: white;
}
/* line 41, ../sass/screen.scss */
.add-this-book:hover {
  cursor: pointer;
}

/* line 191, ../sass/screen.scss */
.cancel-button {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: none;
  font-size: 0.8em;
  background-color: #F05D5E;
  color: white;
}
/* line 41, ../sass/screen.scss */
.cancel-button:hover {
  cursor: pointer;
}

/* line 197, ../sass/screen.scss */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* line 202, ../sass/screen.scss */
.wait-message, .no-books-message {
  margin: 50px;
  text-align: center;
}

/* line 207, ../sass/screen.scss */
.dashboard-books, .choice-books {
  display: flex;
  flex-wrap: wrap;
}

/* line 212, ../sass/screen.scss */
.choice-books {
  padding: 40px;
}

/* line 216, ../sass/screen.scss */
.dashboard-book, .book-choice, .owner-choice {
  margin: 15px;
  width: 21%;
  text-align: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
/* line 223, ../sass/screen.scss */
.dashboard-book img, .book-choice img, .owner-choice img {
  width: 128px;
  height: 172px;
}
/* line 227, ../sass/screen.scss */
.dashboard-book button, .book-choice button, .owner-choice button {
  border: none;
  width: 80px;
  height: 22px;
  margin-bottom: 5px;
}
/* line 232, ../sass/screen.scss */
.dashboard-book button:hover, .book-choice button:hover, .owner-choice button:hover {
  cursor: pointer;
}
/* line 236, ../sass/screen.scss */
.dashboard-book .delete-book, .book-choice .delete-book, .owner-choice .delete-book {
  background-color: #F05D5E;
  color: white;
}
/* line 240, ../sass/screen.scss */
.dashboard-book .dashboard-more-info, .dashboard-book .trade, .book-choice .dashboard-more-info, .book-choice .trade, .owner-choice .dashboard-more-info, .owner-choice .trade {
  background-color: white;
  color: #9C9583;
}

/* line 247, ../sass/screen.scss */
.book-choice:hover, .owner-choice:hover {
  cursor: pointer;
}

/* line 252, ../sass/screen.scss */
.more-info {
  position: fixed;
  top: 100px;
  left: 100px;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  background-color: black;
  color: white;
  opacity: 0.9;
  display: none;
  overflow-y: auto;
}

/* line 265, ../sass/screen.scss */
.you-own-it-button {
  background-color: #0F7173;
  color: white;
}

/* line 270, ../sass/screen.scss */
.error-message-div {
  text-align: center;
}

/* line 274, ../sass/screen.scss */
.cancel-request {
  width: 100% !important;
  color: white;
  background-color: #F05D5E;
}

/* line 280, ../sass/screen.scss */
.address-button, .email-button {
  width: 100% !important;
  background-color: white;
  color: #9C9583;
}

/* line 286, ../sass/screen.scss */
.approve-request {
  color: white;
  background-color: #0F7173;
}

/* line 291, ../sass/screen.scss */
.decline-request {
  color: white;
  background-color: #F05D5E;
}

/* line 302, ../sass/screen.scss */
.pending {
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #FA824C;
  color: white;
}

/* line 308, ../sass/screen.scss */
.approved {
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #0F7173;
  color: white;
}

/* line 314, ../sass/screen.scss */
.denied {
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #F05D5E;
  color: white;
}

/* line 320, ../sass/screen.scss */
.requests-div {
  display: flex;
  flex-wrap: wrap;
}

/* line 325, ../sass/screen.scss */
.requests-section-header {
  margin-bottom: 10px;
}

/* line 329, ../sass/screen.scss */
.address-div {
  display: none;
  position: fixed;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 30%;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

/* line 342, ../sass/screen.scss */
.fa {
  color: white;
  margin-left: 15px;
}

/* line 347, ../sass/screen.scss */
.footer {
  color: #9C9583;
  width: 100%;
  height: 90px;
  font-size: 0.8em;
}
/* line 352, ../sass/screen.scss */
.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 358, ../sass/screen.scss */
.footer a {
  color: #9C9583;
}
/* line 361, ../sass/screen.scss */
.footer hr {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  /* line 367, ../sass/screen.scss */
  body {
    font-size: 0.8em;
  }

  /* line 370, ../sass/screen.scss */
  .dashboard-book, .book-choice, .owner-choice {
    margin: 5px;
    width: 45%;
    font-size: 0.85em;
  }
  /* line 374, ../sass/screen.scss */
  .dashboard-book img, .book-choice img, .owner-choice img {
    width: 100px;
    height: 134px;
  }
  /* line 378, ../sass/screen.scss */
  .dashboard-book button, .book-choice button, .owner-choice button {
    font-size: 0.9em;
  }

  /* line 383, ../sass/screen.scss */
  .login-form input {
    width: 250px;
  }

  /* line 388, ../sass/screen.scss */
  .register-form input {
    width: 250px;
  }
  /* line 391, ../sass/screen.scss */
  .register-form .states-list {
    width: 250px;
  }

  /* line 395, ../sass/screen.scss */
  .info-wrapper {
    width: 100%;
    font-size: 0.9em;
  }

  /* line 399, ../sass/screen.scss */
  .image-wrapper {
    text-align: center;
    width: 100%;
  }

  /* line 404, ../sass/screen.scss */
  #add-book-form input {
    width: 250px;
  }

  /* line 408, ../sass/screen.scss */
  .footer {
    margin: 10px;
  }

  /* line 411, ../sass/screen.scss */
  h1, h2 {
    margin-left: 10px;
  }

  /* line 415, ../sass/screen.scss */
  .addition button {
    width: 80px;
  }

  /* line 419, ../sass/screen.scss */
  .more-info {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
