/* line 17, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 23, ../sass/screen.scss */
body {
  font-family: 'Proza Libre', sans-serif;
}

/* line 44, ../sass/screen.scss */
.menu {
  background-color: #88A0A8;
  color: white;
  width: 100%;
  padding: 10px 0 10px 0;
  margin-bottom: 30px;
}

/* line 51, ../sass/screen.scss */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* line 57, ../sass/screen.scss */
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 63, ../sass/screen.scss */
.generic-button {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: none;
  font-size: 0.8em;
  background-color: white;
  color: #88A0A8;
}
/* line 39, ../sass/screen.scss */
.generic-button:hover {
  cursor: pointer;
}

/* line 69, ../sass/screen.scss */
.start {
  background-color: #88A0A8;
  color: white;
  margin-bottom: 30px;
  padding: 25px;
  overflow-y: auto;
}

/* line 76, ../sass/screen.scss */
.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 83, ../sass/screen.scss */
.login-form p {
  margin: 10px 0 5px 0;
}
/* line 86, ../sass/screen.scss */
.login-form input {
  width: 300px;
  height: 30px;
  font-size: 1.0em;
  padding-left: 5px;
}
/* line 92, ../sass/screen.scss */
.login-form button {
  margin: 20px 0 10px 0;
}

/* line 83, ../sass/screen.scss */
.register-form p {
  margin: 10px 0 5px 0;
}
/* line 86, ../sass/screen.scss */
.register-form input {
  width: 300px;
  height: 30px;
  font-size: 1.0em;
  padding-left: 5px;
}
/* line 92, ../sass/screen.scss */
.register-form button {
  margin: 20px 0 10px 0;
}

/* line 106, ../sass/screen.scss */
.update-form input {
  width: 220px;
  height: 25px;
  font-size: 0.8em;
  padding-left: 5px;
}
/* line 112, ../sass/screen.scss */
.update-form button {
  margin-top: 10px;
}

/* line 117, ../sass/screen.scss */
.states-list {
  width: 300px;
  height: 30px;
  font-size: 0.9em;
}

/* line 123, ../sass/screen.scss */
.error-message {
  color: #AE3C3C;
  background-color: #FFACAC;
  padding: 5px;
  width: 300px;
  border-radius: 3px;
  margin-bottom: 10px;
}

/* line 132, ../sass/screen.scss */
.success-message {
  border-radius: 3px;
  margin-bottom: 10px;
  color: #0B6E4F;
  background-color: #BCD7CF;
  padding: 5px;
  width: 600px;
}

/* line 141, ../sass/screen.scss */
.info-header {
  margin-top: 15px;
}

/* line 83, ../sass/screen.scss */
#add-book-form p {
  margin: 10px 0 5px 0;
}
/* line 86, ../sass/screen.scss */
#add-book-form input {
  width: 300px;
  height: 30px;
  font-size: 1.0em;
  padding-left: 5px;
}
/* line 92, ../sass/screen.scss */
#add-book-form button {
  margin: 20px 0 10px 0;
}

/* line 149, ../sass/screen.scss */
#search-results {
  position: fixed;
  top: 20px;
  left: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  background-color: black;
  color: white;
  opacity: 0.9;
  display: none;
  overflow-y: auto;
}

/* line 162, ../sass/screen.scss */
.result {
  margin: 40px;
}

/* line 166, ../sass/screen.scss */
.other-information {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* line 172, ../sass/screen.scss */
.result-image {
  width: 128px;
}

/* line 176, ../sass/screen.scss */
.info-wrapper {
  margin-left: 10px;
  width: calc(100% - 138px);
}

/* line 181, ../sass/screen.scss */
.add-this-book {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: none;
  font-size: 0.8em;
  background-color: #0F7173;
  color: white;
}
/* line 39, ../sass/screen.scss */
.add-this-book:hover {
  cursor: pointer;
}

/* line 187, ../sass/screen.scss */
.cancel-button {
  width: 100px;
  height: 30px;
  margin: 5px;
  border: none;
  font-size: 0.8em;
  background-color: #F05D5E;
  color: white;
}
/* line 39, ../sass/screen.scss */
.cancel-button:hover {
  cursor: pointer;
}

/* line 193, ../sass/screen.scss */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* line 198, ../sass/screen.scss */
.wait-message {
  margin: 50px;
  text-align: center;
}

/* line 203, ../sass/screen.scss */
.dashboard-books {
  display: flex;
  flex-wrap: wrap;
}

/* line 208, ../sass/screen.scss */
.dashboard-book {
  margin: 15px;
  width: 21%;
  text-align: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
/* line 215, ../sass/screen.scss */
.dashboard-book img {
  width: 128px;
  height: 172px;
}
/* line 219, ../sass/screen.scss */
.dashboard-book button {
  border: none;
  width: 80px;
  height: 22px;
  margin-bottom: 5px;
}
/* line 224, ../sass/screen.scss */
.dashboard-book button:hover {
  cursor: pointer;
}
/* line 228, ../sass/screen.scss */
.dashboard-book .delete-book {
  background-color: #F05D5E;
  color: white;
}
/* line 232, ../sass/screen.scss */
.dashboard-book .dashboard-more-info, .dashboard-book .trade {
  background-color: white;
  color: #88A0A8;
}

/* line 238, ../sass/screen.scss */
.more-info {
  position: fixed;
  top: 100px;
  left: 100px;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  background-color: black;
  color: white;
  opacity: 0.9;
  display: none;
  overflow-y: auto;
}

/* line 251, ../sass/screen.scss */
.you-own-it-button {
  background-color: #0F7173;
  color: white;
}

/* line 256, ../sass/screen.scss */
.footer {
  color: #88A0A8;
  width: 100%;
  height: 90px;
  font-size: 0.8em;
}
/* line 261, ../sass/screen.scss */
.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 267, ../sass/screen.scss */
.footer a {
  color: #88A0A8;
}

@media screen and (max-width: 600px) {
  /* line 273, ../sass/screen.scss */
  .footer {
    height: 90px;
  }
}
