<!DOCTYPE HTML>
<html>
<head>
	<title>Book Vault</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
	<script src="scripts/all.js"></script>
</head>
<body>
	<div class="menu">
		<div class="container">
			<div class="flex-wrapper">
				<h2>Book Vault All Books</h2>
				<div class="button-wrapper">
					<a href="/"><button class="generic-button">Home</button></a>
					<a href="/dashboard"><button class="generic-button">Dashboard</button></a>
					<a href="/profile"><button class="generic-button">Profile</button></a>
					<a href="/logout"><button class="generic-button">Logout</button></a>
				</div>
			</div>
		</div>
	</div>

	<div class="start">
		<div class="container">
			<p>Here is a list of all the books added by our users. Take a look... if you like something you can request a trade with the owner.</p>
			<div class="dashboard-books">
				<% for (var book in allUsersBooks) { %>
				<div class=dashboard-book>
				<button class="dashboard-more-info">More info</button>
				<button class="trade">Trade</button>
				<img src=<%= allUsersBooks[book].image %>>
				<p><%= allUsersBooks[book].title %></p>
				</div>
				<% } %>
			</div>
		</div>
	</div>

	<div class="more-info">
	</div>

	<div class="footer">
		<hr/>
		<div class="container">
			<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
			<p>Visit my pages:</p>
			<ul class="pages">
				<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
				<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
				<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
			</ul>
			<span style="font-size:0.9em">Copyright © Book Vault 2016. All Rights Reserved</span>
		</div>
	</div>
	<script>
		var allUsersBooks = <%- JSON.stringify(allUsersBooks) %>
	</script>
</body>
</html> 