<!DOCTYPE HTML>
<html>
<head>
	<title>Book Vault</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/29e6464377.css">
	<script src="scripts/index.js"></script>
</head>
<body>
	<!-- Menu bar. -->
	<div class="menu">
		<div class="container">
			<div class="flex-wrapper">
				<h1>Book Vault</h1>
				<div class="button-wrapper">
					<!-- Displayed buttons depend on whether a user is logged in or not. So a check is made to see if a user is found. -->
					<% if (user == undefined) { %>
					<a href="/login"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></a>
					<a href="/signup"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a>
					<!-- The following is added if a user is found. -->
					<% } else { %>
					<a href="/all"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
					<a href="/dashboard"><i class="fa fa-sliders fa-2x" aria-hidden="true"></i></a>
					<a href="/profile"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
					<a href="/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	<!-- Welcome section. -->
	<div class="start">
		<div class="container">
			<!-- Again, the contents of this section depend on whther a user is logged in or not. -->
			<% if (!user) { %>
			<p>Welcome to Book Vault, your book trading app!</p>
			<p>To start using the vault, you need to have an account. Once your good to go, here are the things you can do:</p><br/>
			<li>Add books to your vault.</li>
			<li>View books added by alll users.</li>
			<li>Send and receive trade requests from other users.</li><br/>
			<p>What are you waiting for? Go ahead and sign up for an account to start using this app.</p><br/>
			<div class="button-wrapper">
				<a href="/login"><button class="generic-button">Login</button></a>
				<a href="/signup"><button class="generic-button">Sign up</button></a>
			</div>
			<% } else { %>
			<!-- If a user is logged in, the following renders instead of the top part. --> 
			<p>Welcome <%- JSON.stringify(user.name) %></p><br/>
			<p>From the menu bar, you can chose an action:</p><br/>
			<li>All books: See all books added by all users.</li>
			<li>Dashboard: You can manage your books and trading requests here.</li>
			<li>Profile: Update your name and address.</li>
			<li>Logout: We don't believe you would that... but it we gave you the option anyway.</li>
			<% } %>
		</div>
	</div>
	<!-- Sample books section, only rendered if a user is found. -->
	<% if (user) { %>
	<div class="start">
		<div class="container">
			<p>Books our users added:</p>
			<div class="dashboard-books">
				<% for (var book in books) { %>
				<div class="dashboard-book">
				<img src=<%= books[book].image %>>
				<p><%= books[book].title %></p>
				</div>
				<% } %>
			</div>
			<p>Go to <a href="/all" style="color: white;">'All Books'</a> to see a full list of added books.</p>
		</div>
	</div>
	<% } %>
	<!-- Footer section. --> 
	<div class="footer">
		<hr/>
		<div class="container">
			<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
			<p>Visit my pages:</p>
			<ul class="pages">
				<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
				<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
				<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
			</ul>
			<span style="font-size:0.9em">Copyright © Book Vault 2016. All Rights Reserved</span>
		</div>
	</div>
</body>
</html> 