<!DOCTYPE HTML>
<html>
<head>
	<title>Book Vault</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/29e6464377.css">
	<script src="scripts/login.js"></script>
</head>
<body>
	
	<div class="menu">
		<div class="container">
			<div class="flex-wrapper">
				<h2>Login</h2>
				<div class="button-wrapper">
					<a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
					<a href="/signup"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="start">
		<div class="container">
			<!-- It is checked to see if a message to be shown to the user(like incorrect password or email... etc) -->
			<% if (message) { %>
			<!-- If a message is found, its type is checked. The type is needed to decide what class and hence what style to give to the message. -->
			<% if (messageType == "success") { %>
			<p class="success-message"><%- JSON.stringify(message) %></p>
			<% } else if (messageType == "error") { %>
			<p class="error-message"><%- JSON.stringify(message) %></p>
			<% } %>
			<% } %>
			<p>Please enter your username and password to login:</p>
			<!-- Login form. -->
			<form class="login-form" method="post" action="/login">
				<input type="hidden" name="_csrf" value=<%= csrfToken %>>
				<p>Email:</p>
				<input class="input-field" type="text" placeholder="Enter email" required name="email">
				<p>Password:</p>
				<input class="input-field" type="password" placeholder="Enter password" required name="password"><br/>
				<button class="generic-button" type="submit">Login</button>
			</form>
		</div>
	</div>
	<!-- Footer section. --> 
	<div class="footer">
		<hr/>
		<div class="container">
			<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
			<p>Visit my pages:</p>
			<ul class="pages">
				<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
				<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
				<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
			</ul>
			<span style="font-size:0.9em">Copyright © Book Vault 2016. All Rights Reserved</span>
		</div>
	</div>
</body>
</html> 