<!DOCTYPE HTML>
<html>
<head>
	<title>Book Vault</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="stylesheets/screen.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
	<script src="scripts/register.js"></script>
</head>
<body>
	
	<div class="menu">
		<div class="container">
			<div class="flex-wrapper">
				<h2>Book Vault Sign Up</h2>
				<div class="button-wrapper">
					<a href="/"><button class="generic-button">Home</button></a>
					<a href="/login"><button class="generic-button">Login</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="start">
		<div class="container">
			<% if (message != undefined) { %>
			<p class="error-message"><%= message %></p>
			<% } %>
			<p>Please enter the following information to sign up (all fields are required):</p>
			<form class="register-form" method="post" action="/signup">
				<p>Name:</p>
				<input class="input-field" type="text" placeholder="Enter name" required name="name">
				<p>Email:</p>
				<input class="input-field" type="text" placeholder="Enter email" required name="email" id="email" >
				<p>Password:</p>
				<input class="input-field" type="password" placeholder="Enter password" required name="password1" id="pass1" ><br/>
				<p>Confirm password:</p>
				<input class="input-field" type="password" placeholder="Enter password" required name="password2" id="pass2" ><br/>
				<p>Address:</p>
				<input class="input-field" type="text" placeholder="Enter address" required name="address">
				<p>City:</p>
				<input class="input-field" type="text" placeholder="Enter city" required name="city">
				<p>State:</p>
				<select class="states-list" name="state" required>
					<option value="" disabled selected>Select a state</option>
				</select>
				<p>Zip code:</p>
				<input class="input-field" type="text" placeholder="Enter zip code" required name="zip" id="zip-code"><br/>
				<button class="generic-button" type="submit">Sign up</button>
			</form>
		</div>
	</div>
	<div class="footer">
		<hr/>
		<div class="container">
			<p>Page by Amer Hamdan (email:<a href="mailto:amashamdan@gmail.com"> amashamdan@gmail.com</a>)</p>
			<p>Visit my pages:</p>
			<ul class="pages">
				<li><a href="http://amashamdan.github.io/P1-portfolio/" target="blank">Portfolio</a></li>
				<li><a href="https://www.linkedin.com/in/amerhamdan" target="blank">Linkedin</a></li>
				<li><a href="https://github.com/amashamdan" target="blank">Github</a></li>
				<li><a href="http://codepen.io/amashamdan/" target="blank">CodePen</a></li>
			</ul>
			<span style="font-size:0.9em">Copyright © Book Vault 2016. All Rights Reserved</span>
		</div>
	</div>
</body>
</html> 